* {
  box-sizing: border-box;
}

.prodactInfo{
  background-color: #ffffff;
  align-items: center;
  width: 700px;
  height: 300px;
  padding: 40px;
  margin:0 auto;

  .detail{
    color: #888888;
    background-color: #ffffff;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .category{
    background-color: #ffffff;
  }

  .require{
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0211;
    border-radius: 2px;
    margin-left: 8px;
    padding: 0 4px;
  }
  .requireSub{
    font-weight: bold;
    color: #ffffff;
    background-color: #bfbfbf;
    border-radius: 2px;
    margin-left: 8px;
    padding: 0 4px;
  }
  


  .brand{
    background-color: #ffffff;
  }

  .condition{
    background-color: #ffffff;
  }
}