* {
  box-sizing: border-box;
}

.price{
  background-color: #ffffff;
  align-items: center;
  width: 700px;
  height: 300px;
  padding: 40px;
  margin:0 auto;

  box-sizing: border-box;

  .productTitle{
    font-weight: bold;
    margin-bottom: 24px;
    font-weight: bold;
    color: #888888;
    margin-bottom: 24px;
  }
  .priceInput{
    font-weight: bold;
    color: black;
    margin-bottom: 24px;
  }
  .require{
    font-weight: bold;
    color: #ffffff;
    background-color: #3cceac;
    border-radius: 2px;
    margin-left: 8px;
    padding: 0 4px;
    font-weight: bold;
  }
  .priceNumber{
    font-weight: normal;
    width: 285px;
    height:48px;
    border-radius:3px;
    border:1px solid #ccc;
    padding: 0.7em;
    margin-top: 16px;
    padding-bottom: 24px;
  }
  .priceMargin{
    font-weight: normal;
    color: black;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
  }
  .priceIncome{
    font-weight: normal;
    color: black;
    margin-bottom: 24px;
  }

  .priceIncomeArea{
    background-color: aqua;
  }

}