.footer
  .footerList
    %p.privacy
      プライバシーポリシー
    %p.rule
      FURIMA利用規約
    %p.ruleSub
      特定商取引に関する表記
  .grayLogo
    %span.image
      = image_tag src="/assets/graylogo.png", size: "80x80"
  %p.copy
    © Furima, Inc.
