.upperMain
  .main
    %section.main__block
      = form_with model:@item, local:true do |f|
        .sell__block__form
          .sell__block__form__upload
            %h3.sell__block__form__upload__head
              出品画像
              %span.require 必須
            %p.requireSub 最大10枚までアップロードできます
            #image-box-1
              .item-num-0#image-box__container
                = f.fields_for :images do |i|
                  .input-area
                    = i.file_field :image, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
                    %label.upperIcon{for: "img-file"}
                      %i.fas.fa-camera
                      .dragDropText ドラッグアンドドロップ
                      %br またはクリックしてファイルをダウンロード