.productInfo
  %h2.detail
    商品の詳細
  %h2.category
    カテゴリー
    %span.require 必須
    %select.categorySelect{:name => "budget_d"}
      %option{:value => "0"} 選択してください
      %option{:value => "1"} レディース
      %option{:value => "2"} メンズ
      %option{:value => "3"} ベビーキッズ
      %option{:value => "5"} インテリア・住まい・小物
      %option{:value => "6"} 本・音楽・ゲーム
      %option{:value => "7"} そのほか


  %h2.brand
    ブランド
    %span.brandInput 任意
    = form_with(url: "#", local: true, method: :get, class: "form") do |f|
      = f.text_field :keyword, class: "brandInputText", placeholder: "例）シャネル"

  %h2.condition
    商品の状態
    %span.require 必須
    %select.conditionSelect{:name => "budget_d"}
      %option{:value => "0"}  選択してください
      %option{:value => "1"}  未使用に近い
      %option{:value => "2"}  目立った傷や汚れなし