.price
  %h2.productTitle
    価格（¥300〜999,999,999）
  %h2.priceInput
    販売価格
    %span.require 必須
    %span.yen ¥
    = form_with(url: "#", local: true, method: :get, class: "form") do |f|
      = f.number_field :price, class: "priceNumber", min: 0, max: 999999999, size:30


  %h2.priceMargin
    販売手数料(10%)

  %h2.priceIncome
    販売利益
