* {
  box-sizing: border-box;
}

.categoryLists {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    height: 54px;
    li {
      padding: 0 10px 0 0;
      float:left;
      .list {
        text-decoration: none;
        color: #333;
      }
    }
    li {
      .fa {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
      }
    }
    p {
      font-weight: bold;
    }
  }
}

.Main {
  background: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .contentLeft {
      margin: 0;
      padding: 0;
    }
    .contentRight {
      width: 700px;
      margin: 0 auto;
      .topContent {
        margin: 0;
        padding: 0;
        .itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            .items {
              display: flex;
              position: relative;
              .item {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                .details {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  .detail {
                    width: 25%;
                    margin: 0 10px 0 0;
                    .itemImg {
                      width: 100%;
                      vertical-align: bottom;
                    }
                  }
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            .yen {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &--detail {
              font-size: 16px;
            }
          }
          .itemDetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            .itemTable {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              border-spacing: 0;
              .itemChart {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  .name {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  .detail {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    .category {
                      text-decoration: none;
                      color: #3ccace;
                    }
                  }
                }
              }
            }
          }
          .optionBox {
            display: flex;
            justify-content: space-between;
            &__Btn {
              margin: 10px 0 0;
              display: flex;
              &--detail {
                margin-left: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3ccace;
                border: 1px solid #ffb340;
                .fa {
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
            .optional {
              margin: 10px 0 0;
              display: flex;
              &__Btn {
                font-size: 14px;
                .btn {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fa {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
            }
          }
        }
        .commentBlock {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          textarea {
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          .noticeMsg {
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          button {
            line-height: 48px;
            background: #3ccace;
            border: 1px solid #3ccace;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            .fa {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
        .links {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;
          .linkLeft {
            float: left;
            display: list-item;
            margin: 0;
            padding: 0;
            .select {
              text-decoration: none;
              color: #3ccace;
              cursor: pointer;
              .fa {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
          .linkRight {
            float: right;
            .select {
              color: #3ccace;
              text-decoration: none;
            }
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        .relatedItems {
          margin: 0;
          padding: 0;
          .moreView {
            display: block;
            margin: 24px 0 8px;
            color: #3ccace;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
          .itemLists {
            width: 700px;
            height: 328px;
            .itemList {
              margin: 0 0 10px;
              float: left;
              width: calc(100% / 3);
              .item {
                display: block;
                margin: 24px 0 8px;
                color: #3ccace;
                text-decoration: none;
                font-weight: bold;
                font-size: 22px;
                position: relative;
                &__img {
                  background-color: #fff;
                  position: relative;
                  overflow: hidden;
                  margin: 0;
                  z-index: auto;
                  width: 220px;
                  height: 150px;
                  .itemImg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: auto;
                    height: 150px;
                    object-fit: cover;
                    width: 220px;
                    height: 150px;
                  }
                }
                &__body {
                  background-color: white;
                  color: #333;
                  padding: 16px;
                  .name {
                    overflow: hidden;
                    line-height: 1.5;
                    font-size: 16px;
                    text-align: left;
                  }
                  .details {
                    font-size: 16px;
                    ul {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      list-style: none;
                      li {
                        display: list-item;
                        .fa {
                          display: inline-block;
                          font-size: inherit;
                          text-rendering: auto;
                        }
                      }
                    }
                    p {
                      font-size: 10px;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}