%nav  
  %ul.clearfix
    %li プライバシーポリシー
    %li フリマ利用規約
    %li 特定商取引に関する表記
  %a.single-footer-logo
    = link_to image_tag "logo-white.png", class: "furimafooter"
  %p
    %small © Kochi_hornet_market